section#banner {
  position: relative;
  padding: 4rem 0;
  .container {
    background-color: $primary-blue;
    overflow: hidden;
    position: relative;
    padding: 1rem 4rem;
    border-radius: 35px;
    &::before {
      content: "";
      width: 408px;
      height: 658px;
      transform: rotate(120deg);
      background-color: #002a47;
      position: absolute;
      overflow: hidden;
      left: 30px;
      top: 25px;
      border-bottom-left-radius: 10%;
    }
    &::after {
      content: "";
      width: 708px;
      height: 658px;
      transform: rotate(200deg);
      background-color: $primary-yellow;
      position: absolute;
      overflow: hidden;
      right: -140px;
      top: -325px;
      border-top-right-radius: 10%;
    }
    .half {
      position: relative;
      z-index: 666;
    }

    h2 {
      text-transform: capitalize;
      font-style: 60px;
      line-height: 62px;
      color: #002a48;
      display: flex;
      align-items: flex-start;
    }
    h3 {
      font-weight: 700;
      font-size: 46px;
      line-height: 50px;
      display: flex;
      align-items: flex-start;
      text-transform: capitalize;
      color: #002a48;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $secondary-black;
      padding: {
        left: 13rem;
        top: 1rem;
        bottom: 1rem;
      }
      margin: 1rem 0;
    }
    .btn {
      border: 2px solid $primary-blue;
      padding: 0.5rem 1rem;
      border-radius: 50px;
    }
    .btn-dark {
      background-color: $primary-blue;
      color: $white;
    }
  }
  @media (max-width: $lg) {
    .container {
      &::before {
        content: "";
        width: 408px;
        height: 658px;
        transform: rotate(125deg);
        background-color: #002a47;
        position: absolute;
        overflow: hidden;
        left: 120px;
        top: 420px;
        border-bottom-left-radius: 10%;
      }
      &::after {
        content: "";
        width: 708px;
        height: 658px;
        transform: rotate(105deg);
        background-color: $primary-yellow;
        position: absolute;
        overflow: hidden;
        left: -20px;
        top: -370px;
        border-top-right-radius: 10%;
      }
    }

    .row {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      .half {
        text-align: center;
        justify-content: center;
        align-items: center;
        p {
          all: unset;
          width: 65%;
          text-align: center;
          margin: 2rem 0;
        }
      }
    }
  }
  @media (max-width: $sm) {
    .container {
      &::before {
        content: "";
        width: 408px;
        height: 658px;
        transform: rotate(125deg);
        background-color: #002a47;
        position: absolute;
        overflow: hidden;
        left: 120px;
        top: 420px;
        border-bottom-left-radius: 10%;
      }
      &::after {
        content: "";
        width: 708px;
        height: 658px;
        transform: rotate(105deg);
        background-color: $primary-yellow;
        position: absolute;
        overflow: hidden;
        left: -220px;
        top: -350px;
        border-top-right-radius: 10%;
      }
    }

    .row {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 0;
      .half {
        gap: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        h2 {
          text-transform: capitalize;
          font-size: 24px;
          line-height: 36px;
          color: #002a48;
          display: flex;
          align-items: flex-start;
        }
        h3 {
          font-weight: 700;
          font-size: 30px;
          line-height: 54px;
        }
        p {
          all: unset;
          width: 100%;
          text-align: center;
          margin: 1rem 0;
        }
      }
    }
  }
}
