.smthng {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  animation: opac 4s cubic-bezier(1, -0.02, 0.99, -0.02);
  z-index: 9981;
}

.round {
  margin: 12rem auto;
  background-color: transparent;
  border: 10px dashed #333;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  animation: loader 3s cubic-bezier(1, 0.48, 0.19, 0.54) 1s alternate both;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateY(-10000%) scale(0.5);
  }
}
@keyframes opac {
  0% {
    background-color: antiquewhite;
    transform: translateX(0);
    visibility: visible;
  }
  25% {
    background-color: antiquewhite;
    transform: translateX(0);
    visibility: visible;
  }
  50% {
    background-color: antiquewhite;
    transform: translateX(0);
    visibility: visible;
  }
  75% {
    background-color: antiquewhite;
    transform: translateX(0);
    visibility: visible;
  }
  to {
    background-color: transparent;
    transform: translateY(-100%);
    visibility: hidden;
  }
}
