// colors

$primary-blue: #003459;
$main-blue: #002a48;
$primary-yellow: #fceed5;
$secondary-yellow: #f7dba7;
$black: #00171f;
$white: #fff;
$grey: #99a2a5;
$red: #ff564f;
$green: #34c759;
$orange: #ff912c;
$secondary-black: #242b33;
$secondary-orange: #ffb775;
$sky-blue: #00a7e7;
// font

$main-font: "Roboto", sans-serif;

// sizing

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
