@import "variables";
@import "reset";
@import "utils";
@import "header";
@import "showcase";
@import "news";
@import "banner";
@import "products";
@import "partners";
@import "pet";
@import "footer";
@import "adoption";
main {
  position: relative;
  z-index: 999;
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: $secondary-yellow;
    border-radius: 3px;
    position: absolute;
    top: 170px;
    right: 640px;
    transform: rotate(25deg);
  }
  &::after {
    content: "";
    width: 28px;
    height: 28px;
    background-color: $secondary-yellow;
    border-radius: 5px;
    position: absolute;
    top: 210px;
    right: 670px;
    transform: rotate(25deg);
  }
}
